body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    background: url('pod.png') no-repeat center center fixed; 
    background-size: cover;
    padding: 20px;
}

.stopwatch {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: fit-content;
}

#time {
    font-size: 48px;
    margin-bottom: 20px;
}

#startButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
